*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
img,
a,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 85px;
  background-color: #ffffff;
  color: #484848;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.container {
  width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --main-font: 'Open Sans', sans-serif;
  --logo-font: 'Nunito', sans-serif;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 29px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 34px 0;
  font-size: 0.825rem;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  color: #989898;
}

.site-nav__link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  -webkit-transition: background-color 250ms var(--timing-fn);
  transition: background-color 250ms var(--timing-fn);
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  background-color: #add136;
}

.hero {
  background-color: #c7cdc6;
}

.hero.section {
  max-width: 1300px;
  min-height: 570px;
  padding: 171px 0 48px 0;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(112, 112, 112, 0.29)), to(rgba(112, 112, 112, 0.29))), url(../../images/hero-banner.jpg);
  background-image: linear-gradient(to right, rgba(112, 112, 112, 0.29), rgba(112, 112, 112, 0.29)), url(../../images/hero-banner.jpg);
  background-repeat: no-repeat;
}

.hero__slider {
  text-align: right;
}

.hero__icon {
  fill: #ffffff;
}

.hero__icon:first-child {
  margin-right: 32px;
}

.footer {
  position: relative;
  width: 100%;
  padding: 24px 0;
  text-align: center;
  color: #848484;
  background-color: #ffffff;
}

.footer::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #707070;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 122px;
  font-family: var(--logo-font);
  font-size: 1.95rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #6d6e70;
  text-transform: uppercase;
}

.logo__icon {
  margin-right: 10px;
}

.logo__text-item {
  color: #595959;
}

.btn {
  min-width: 100px;
  padding: 14px 30px;
  border: none;
  color: #ffffff;
  background-color: #add136;
  font-size: 13.2px;
  font-weight: 600;
  line-height: 14px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-fn);
  transition: background-color 250ms var(--timing-fn);
}

.btn:hover, .btn:focus {
  background-color: #26a6d1;
}

.btn__login {
  margin-left: auto;
  border-radius: 21px;
  text-transform: uppercase;
}

.btn__hero {
  min-width: 254px;
  height: 73px;
  padding: 30px 40px;
  margin-bottom: 99px;
  border-radius: 9px;
  font-size: 19.2px;
  font-weight: 600;
  line-height: 13.2px;
}

.btn__properties {
  min-width: 187px;
  height: 51px;
  padding: 20px 25x;
  border-radius: 9px;
  font-size: 0.928rem;
  font-weight: 600;
  line-height: 19.2px;
}

.btn__tab {
  color: #515151;
  background-color: #ffffff;
  border-bottom: 1px solid #484848;
  font-size: 2.075rem;
  font-weight: 400;
  line-height: 34px;
}

.btn__projects {
  min-width: 183px;
  height: 52px;
  padding: 19px 24x;
  color: #484848;
  background-color: #ffffff;
  border: 1px solid #515151;
  border-radius: 9px;
  font-size: 0.928rem;
  font-weight: 600;
  line-height: 19.2px;
}

.section-title {
  color: #515151;
}

.hero .section-title {
  color: #ffffff;
  font-size: 3.075rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 44px;
}

.section-subtitle {
  color: #484848;
}

.hero .section-subtitle {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 58px;
}
/*# sourceMappingURL=index.css.map */