.header {
  position: fixed;
  @include flex(flex-start, center);
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: getColor('primary-bg');
  z-index: 1;

  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  text-align: center;

  @media screen and (min-width: $deviceSizeXL) {
    height: 85px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: getColor('header');
  }

  &__nav {
    @include flex(space-between, center);
    width: 100%;
  }

  @media screen and (min-width: $deviceSizeL) {
    & .container {
      display: flex;
      align-items: center;
    }
  }
}

.site-nav {
  &__list {
    @media screen and (min-width: $deviceSizeL) {
      @include flex(space-evenly, center);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: $deviceSizeL) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 28px;
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: getColor('header');
    @include font(0.825rem, 600, 17px);
    text-transform: uppercase;

    transition: color 250ms var(--timing-fn);

    @media screen and (min-width: $deviceSizeXL) {
      padding: 34px 0;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: transparent;
      transition: background-color 250ms var(--timing-fn);
    }

    &:hover,
    &:focus {
      color: getColor('title-text');
    }

    &:hover::after,
    &:focus::after {
      background-color: getColor('accent');
    }
  }
}

// .btn__login {
// }
