.hero {
  background-color: #c7cdc6;

  &.section {
    max-width: 1300px;
    // min-height: 570px;
    text-align: center;
    background-image: linear-gradient(getColor('hero-overlay')),
      url('../../images/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }

  &__slider {
    text-align: right;
  }

  &__icon {
    fill: getColor('primary-bg');
    transition: fill 250ms var(--timing-fn);

    &:first-child {
      margin-right: 32px;
    }

    &:hover,
    &:focus {
      fill: getColor('accent');
    }
  }
}
