.logo {
  @include flex(flex-start, flex-end);
  margin-bottom: 2px;
  color: getColor('logo-crowd');

  font-family: var(--logo-font);
  @include font(1.5rem, 600, 20px);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media screen and (min-width: $deviceSizeXL) {
    @include font(1.95rem, 600, 24px);
    margin-bottom: 8px;
    margin-right: 120px;
  }

  &__icon {
    margin-right: 10px;

    @media screen and (max-width: 1023px) {
      width: 22px;
      height: 24px;
    }
  }

  &__text-item {
    color: getColor('logo-me');
  }
}
