.section-title {
  color: getColor('title-text');

  .hero & {
    color: getColor('primary-bg');
    @include font(3.075rem, 600, 1);
    margin-bottom: 44px;
  }

  .works & {
    width: 510px;
    @include font(1.95rem, 600, 1);
    text-transform: uppercase;
    margin-bottom: 70px;
  }
}
