.section-title {
  color: getColor('title-text');

  .hero & {
    color: getColor('primary-bg');
    @include font(3.075rem, 600, 1);
    margin-bottom: 44px;
  }
}

.section-subtitle {
  color: getColor('subtitle-text');

  .hero & {
    color: getColor('primary-bg');
    @include font(2.2rem, 400, 1);
    margin-bottom: 58px;
  }
}
